.container {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 5px;
}

table {
  width: 100%;
}

td, th {
  width: 20%;
}

.pointer{
  cursor: pointer;
}

.mat-mdc-form-field {
  font-size: 10px;
  width: 100%;
  margin-top: 5px;
  height: 70px;
}